
header{
    margin: 0px;
}

header#cabecalho{
    border-bottom:1px darkblue solid;
}
table#tabcab {
    color: white;
    width: 100%;
    text-align: center;
    background-color: #002868;

}

h1#tabcab{
    color:white;
}

}

#blocklog{
    text-align:center;
        }

table.center{
    margin-left: auto;
    margin-right: auto;
}

#Hometop {
    text-align: center;
}

#admcorpo{
    text-align: center;
    font-family: "Arial Black";
    font-size: 25px;
    margin-top: 30px;
}



footer{
    color: white;
    width: 100%;
    text-align: center;
    background-color: #002868;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 0%;

}

