<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado da pesquisa</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Sonsie+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1 style="font-family: 'Sonsie One', cursive;, sans-serif;"><a href="/">TeiqueOnly</a></h1>
        <p style="font-family: 'Berkshire Swash', cursive;color: white"> Você conhece, você confia.</p>
    </div>
    <div class="blocklog">
        <form id="login" action="/adm_page", method="post">
                            <p>
                                <label>
                                    Login
                                </label>

                                <input type="text" name="login">
                            </p>
                            <p>
                                <label>
                                    Senha
                                </label>
                                <input type="password" name="senha" >
                            </p>
                            <input type="submit" logarbt value="Entrar">
                        </form>
    </div>
<div class="topnav">
  <a href="#"><form action="/resultado" METHOD="post">
        <label>Busca:</label>
        <input type="text" name="campo_pesquisa" size="55">
      </form></a>
</div>
    <br>
    <br>

     <table align="center">
         <h2>Procurando por:{{pesq}}</h2>
            {% for result in consulta %}
                <tr>
                    <td>
                        <a href="/detalhes/{{result[1]}}/{{result[7]}}">
                            <img src={{base_url}}{{result[10]}} height="400" width="550">
                        </a>
                    </td>
                   <td>
                        <h2>Nome: {{result[1]}}</h2>
                        <h2>Marca: {{result[2]}}</h2>
                        <h2>Ano: {{result[3]}}</h2>
                        <h2>Cor: {{result[4]}}</h2>
                        <h2>Câmbio: {{result[5]}}</h2>
                        <h2>Preço: {{result[6]}}</h2>
                       <h2 style="color: red">Disponivel</h2>
                    </td>
                </tr>
            {% endfor %}
        </table>
<br>
<br>
     <br>
<br>
<br>

</body>

<footer>
    <nav>
            <h3>Top 10</h3>
            <h3>Ver todos carros</h3>
            <small>Copyright © 2019 </small>
    </nav>
</footer>
</html>