<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado da pesquisa</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1><a href="/">TeiqueOnly</a></h1>
            </td>
                <td>
                    <form action="/resultado" METHOD="post">
                    <label>Busca:</label>
                    <input type="text" size="50" name="campo_pesquisa">
                    <input type="submit" name="pesquisabt" value="procurar">
                    </form>
                </td>
                <td>

                    <div id="blocklog">
                        <form id="login" action="/adm_page", method="post">
                            <p>
                                <label>
                                    Login
                                </label>

                                <input type="text" name="login">
                            </p>
                            <p>
                                <label>
                                    Senha
                                </label>
                                <input type="password" name="senha" >
                            </p>
                            <input type="submit" logarbt value="Entrar">
                        </form>
                    </div>
                </td>
            </td>
        </tr>
    </table>
    </div>
</header>
<body>
     <table align="center">
            {% for result in consulta %}
                <tr>
                    <td>
                        <a href="/detalhes/{{result[1]}}/{{result[7]}}">
                            <img src={{base_url}}{{result[10]}} height="300" width="450">
                        </a>
                    </td>
                   <td>
                        <h2>Nome: {{result[1]}}</h2>
                        <h2>Marca: {{result[2]}}</h2>
                        <h2>Ano: {{result[3]}}</h2>
                        <h2>Cor: {{result[4]}}</h2>
                        <h2>Câmbio: {{result[5]}}</h2>
                        <h2>Preço: {{result[6]}}</h2>
                       <h2 style="color: red">Disponivel</h2>
                    </td>
                </tr>
            {% endfor %}
        </table>
<br>
<br>
     <br>
<br>
<br>

</body>
<footer>
    <nav>
        <h3><a href="/">Mais vendidos</a></h3>
        <small>Vinicius Santos | Contato: (61)981008608</small><br>
            <small>Copyright © 2019 Vinicius Santos </small>
    </nav>
</footer>
</html>