
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros Reservados</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<div class="headeradm">
    <h1 style="font-family: 'Six Caps', sans-serif;"><a href="/adm_page">Pagina do Administrador</a></h1>
        <p style="color: white">Carros Reservados</p>

    </div>

<div class="topnav">

</div>
      <div class="centercolumn">
          <div id="admpage">

            <table id="tableadm">
                {% for car in carros %}
                    <tr>
                         <td>
                            <a href="{{base_url}}{{car[10]}}">
                                <img src={{ base_url }}{{ car[10]}} height="500" width="650">
                            </a>
                        </td>
                        <td>
                        <h3>Nome: {{car[1]}}</h3>
                        <h3>Marca: {{car[2]}}</h3>
                        <h3>Ano: {{car[3]}}</h3>
                        <h3>Cor: {{car[4]}}</h3>
                        <h3>Câmbio: {{car[5]}}</h3>
                        <h3>Preço: {{car[6]}}</h3>
                        <h3 style="color: red">Reservado</h3>
                    </td>
                    </tr>
                <br>
                {% endfor %}

            </table>
      </div>
    </div>
</body>
<br>
<br>
<br>
<br><br>
<br><br>
<br>
<br>
<br><br>
<br><br>

<br>
<footer>
    <nav>
            <h3>Top 10</h3>
            <h3>Ver todos carros</h3>
            <small>Copyright © 2019 </small>
    </nav>
</footer>
</html>