
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carros Reservados</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
<h1>Carros Reservados</h1>
    <table border="1">
    <tr>
            <td>Nome</td>
            <td>Marca</td>
            <td>Ano </td>
            <td>Cor</td>
            <td>Câmbio</td>
            <td>Preço</td>
            <td>Placa</td>

            </tr>

        {% for car in carros %}
            <tr>
                <td>{{car[1]}}</td>
                <td>{{car[2]}}</td>
                <td>{{car[3]}}</td>
                <td>{{car[4]}}</td>
                <td>{{car[5]}}</td>
                <td>{{car[6]}}</td>
                <td>{{car[7]}}</td>
                <td>
                    <a href="{{ base_url }}{{ car[10]}}">
                        <img src={{ base_url }}{{ car[10]}} height="200" width="200">
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>