<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1>TanqueOnly</h1>
            </td>
                <td>
                    <form action="/resultado" METHOD="post">
                    <label>Busca:</label>
                    <input type="text" name="campo_pesquisa">
                    <input type="submit" name="pesquisabt" value="procurar">
                    </form>
                </td>
                <td>

                    <div id="blocklog">
                        <form id="login" action="/adm_page", method="post">
                            <p>
                                <label>
                                    Login
                                </label>

                                <input type="text" name="login">
                            </p>
                            <p>
                                <label>
                                    Senha
                                </label>
                                <input type="password" name="senha" >
                            </p>
                            <input type="submit" logarbt value="Entrar">
                        </form>
                    </div>
                </td>
            </td>
        </tr>
    </table>
    </div>
</header>

<body>
  <table border="1">
        <h1>Detalhes</h1>
            {% for detalhe in detalhes %}
                <tr>
                     <a href="{{ base_url }}{{ detalhe[10]}}">
                        <img src={{ base_url }}{{ detalhe[10]}} height="200" width="200">
                    </a>
                    <td>{{detalhe[1]}}</td>
                    <td>{{detalhe[2]}}</td>
                    <td>{{detalhe[3]}}</td>
                    <td>{{detalhe[4]}}</td>
                    <td>{{detalhe[5]}}</td>
                    <td>{{detalhe[6]}}</td>
                    <td>{{detalhe[7]}}</td>
                    <td>

                </td>
                </tr>

        </table>
  <form action="/reservando/{{detalhe[1]}}/{{detalhe[7]}}" method="post">
        <input type="submit", name="reservarbt", value="Reservar">

  </form>
{% endfor %}
</body>
<footer>
    <nav>
            <h3>Top 10</h3>
            <h3>Ver todos carros</h3>
            <small>Copyright © 2010 </small>
    </nav>
</footer>
</html>