<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar TOP10</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>
<div class="headeradm">
    <h1 style="font-family: 'Six Caps', sans-serif;"><a href="/adm_page">Pagina do Administrador</a></h1>
        <p style="color: white">Editar carros mais vendidos</p>

    </div>
<div id="admpage">
 <form action="/top10_editado" METHOD="post">
        <label>Placa do carro</label>
        <input type="text" name="ePlaca">

        <label>Top10? :</label>
        <select name="eTop10">
            <option>Sim</option>
            <option>Não</option>
        </select>

        <input type="submit" value="Mudar">
    </form>
    <br>
    <br>
</div>

<h1 style="text-align: center">Lista atual</h1>
    <table id="tbcustom">
    <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Ano </th>
            <th>Cor</th>

            <th>Câmbio</th>
            <th>Preço</th>
            <th>Placa</th>
            <th>Top 10? 0=Não/1=Sim</th>

            </tr>
        {% for car in carros %}
            <tr>
                <td>{{car[1]}}</td>
                <td>{{car[2]}}</td>
                <td>{{car[3]}}</td>
                <td>{{car[4]}}</td>
                <td>{{car[5]}}</td>
                <td>{{car[6]}}</td>
                <td>{{car[7]}}</td>
                <td>{{car[8]}}</td>
            </tr>
        {% endfor %}
    </table>


</body>
<br>
<br>
<br>
<br>
<br>


</html>