<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar TOP10</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1><a href="/">TeiqueOnly</a></h1>
            </td>
                <td>
                    <h1>Pagina do Administrador</h1>
                </td>
            </td>
        </tr>
    </table>
    </div>
</header>
<body>
<div id="admpage">
 <form action="/top10_editado" METHOD="post">
        <h1>Editar lista de mais vendidos</h1>
        <label>Placa do carro</label>
        <input type="text" name="ePlaca">

        <label>Top10? :</label>
        <select name="eTop10">
            <option>Sim</option>
            <option>Não</option>
        </select>

        <input type="submit" name="edit_topbt" value="Mudar">
    </form>
    <br>
    <br>
</div>
<h1>Lista atual</h1>

    <table border="1">
    <tr>
            <td>Nome</td>
            <td>Marca</td>
            <td>Ano </td>
            <td>Cor</td>

            <td>Câmbio</td>
            <td>Preço</td>
            <td>Placa</td>
            <td>Top 10? 0=Não/1=Sim</td>

            </tr>
        {% for car in carros %}
            <tr>
                <td>{{car[1]}}</td>
                <td>{{car[2]}}</td>
                <td>{{car[3]}}</td>
                <td>{{car[4]}}</td>
                <td>{{car[5]}}</td>
                <td>{{car[6]}}</td>
                <td>{{car[7]}}</td>
                <td>{{car[8]}}</td>
            </tr>
        {% endfor %}
    </table>


</body>
<footer>
    <nav>
        <h3><a href="/">Mais vendidos</a></h3>
        <small>Vinicius Santos | Contato: (61)981008608</small><br>
            <small>Copyright © 2019 Vinicius Santos </small>
    </nav>
</footer>
</html>