<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excluir Usuario</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1>TanqueOnly</h1>
            </td>
                <td>
                    <h1>Pagina do Administrador</h1>
                </td>
            </td>
        </tr>
    </table>
    </div>
</header>
<body>
    <h1>Excluir usuario</h1>
    <form id="slogin", action="/excluido", method="post">
        <p>

            <label>
                Login:
            </label>
            <input type="text" name="slogin">
        </p>
        <p>
            <label>
                Senha:
            </label>
            <input type="password" name="ssenha"><br>

            <input type="submit" name="ex_userbt" value="Excluir">
        </p>
    </form>
</body>
</html>