<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excluir Anuncio</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="headeradm">
    <h1 style="font-family: 'Six Caps', sans-serif;"><a href="/adm_page">Pagina do Administrador</a></h1>

    </div>
<div id="admpage">
    <h1>Excluir carro</h1><br>
<form id="excluirtb", action="/anuncio_excluido", method="post">
        <p>
            <label>
                Placa do carro
            </label>
            <input type="text" name="placacar">

            <input type="submit" name="ex_anunciobt" value="Excluir">
         </p>
    </form>

</div>
 <br>
    <br>

 <br>
    <br>
 <br>
    <br>
        <table id="tbcustom">
    <tr>
            <th>Nome</th>
            <th>Marca</th>
            <th>Ano </th>
            <th>Cor</th>
            <th>Câmbio</th>
            <th>Preço</th>
            <th>Placa</th>

            </tr>

        {% for car in carros %}
            <tr>
                <td>{{car[1]}}</td>
                <td>{{car[2]}}</td>
                <td>{{car[3]}}</td>
                <td>{{car[4]}}</td>
                <td>{{car[5]}}</td>
                <td>{{car[6]}}</td>
                <td>{{car[7]}}</td>
            </tr>
        {% endfor %}
    </table>


</body>
</html>