<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excluir Usuario</title>
</head>
<body>
    <h1>Excluir usuario</h1>
    <form id="slogin", action="/excluido", method="post">
        <p>
            <label>
                Login:
            </label>
            <input type="text" name="slogin">
        </p>
        <p>
            <label>
                Senha:
            </label>
            <input type="password" name="ssenha"><br>

            <input type="submit" name="ex_userbt" value="Excluir">
        </p>
    </form>
</body>
</html>