<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1><a href="/">TeiqueOnly</a></h1>
            </td>
                <td>
                    <form action="/resultado" METHOD="post">
                    <label>Busca:</label>
                    <input type="text" size="50" name="campo_pesquisa">

                    </form>
                </td>
                <td>

                    <div id="blocklog">
                        <form id="login" action="/adm_page", method="post">
                            <p>
                                <label>
                                    Login
                                </label>

                                <input type="text" name="login">
                            </p>
                            <p>
                                <label>
                                    Senha
                                </label>
                                <input type="password" name="senha" >
                            </p>
                            <input type="submit" logarbt value="Entrar">
                        </form>
                    </div>
                </td>






            </td>
        </tr>
    </table>
    </div>
</header>
<body>
    <div id="Hometop">
        <table class="center">
            <h1>Carros mais vendidos</h1>
                {% for car in carros %}
                <tr>
                    <td>
                        <a href="/detalhes/{{car[1]}}/{{car[7]}}">
                            <img src={{ base_url }}{{ car[10]}} height="350" width="450">
                        </a>
                    </td>

                    <td>
                        <h2>Nome: {{car[1]}}</h2>
                        <h2>Marca: {{car[2]}}</h2>
                        <h2>Ano: {{car[3]}}</h2>
                        <h2>Cor: {{car[4]}}</h2>
                        <h2>Câmbio: {{car[5]}}</h2>
                        <h2>Preço: {{car[6]}}</h2>
                        <h2 style="color: red">Disponivel</h2>
                    </td>

                </tr>


            {% endfor %}
        </table>
    </div>
<br>
<br>
<br>
    <br>
<br>
<br>
</body>
<footer>
    <nav>
        <h3><a href="/">Mais vendidos</a></h3>
        <small>Vinicius Santos | Contato: (61)981008608</small><br>
            <small>Copyright © 2019 Vinicius Santos </small>
    </nav>
</footer>

</html>