<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Six+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sonsie+One&display=swap" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="header">
        <h1 style="font-family: 'Sonsie One', cursive;, sans-serif;"><a href="/">TeiqueOnly</a></h1>
        <p style="font-family: 'Berkshire Swash', cursive;color: white"> Você conhece, você confia.</p>
    </div>
    <div class="blocklog">
        <form id="login" action="/adm_page", method="post">
                            <p>
                                <label>
                                    Login
                                </label>

                                <input type="text" name="login">
                            </p>
                            <p>
                                <label>
                                    Senha
                                </label>
                                <input type="password" name="senha" ><br>
                            </p>
                            {% if erro %}
                                <span style="color:red">{{erro}}</span><br>
                            {% endif %}<br>
                            <input type="submit" logarbt value="Entrar"><br>

                        </form>
    </div>
<div class="topnav">
  <a href="#"><form action="/resultado" METHOD="post">
        <label>Busca:</label>
        <input type="text" name="campo_pesquisa" size="55">
      </form></a>
</div>
    <div class="row">
  <div class="leftcolumn">
      {% for cars in allcars %}
    <div class="card">
        <table>
            <tr>
                <h1>{{cars[2]}}&nbsp;{{cars[1]}}</h1>
          <td><a href="/detalhes/{{cars[1]}}/{{cars[7]}}">
              <img src={{ base_url }}{{ cars[10]}} height="350" width="455">
          </a>
          </td>
                <td>
                        <h2>Ano: {{cars[3]}}</h2>
                        <h2>Cor: {{cars[4]}}</h2>
                        <h2>Câmbio: {{cars[5]}}</h2>
                        <h2>Preço: {{cars[6]}}</h2>
                        <h2>Placa: {{cars[7]}}</h2>
                        <h2 style="color:red;">Disponível</h2>
                </td>
            </tr>
        </table>
    </div>
      {% endfor %}
  </div>
  <div class="rightcolumn">

    <div class="card">

      <h3>Mais vendidos</h3>
          <p>
              {% for car in carros %}
          <a href="/detalhes/{{car[1]}}/{{car[7]}}">
              <img src={{ base_url }}{{ car[10]}} height="150" width="205">
          </a><br><br>
              {% endfor %}
        </p>



    </div>
  </div>

</div>

    <!--<div id="Hometop">
        <table class="center">
            <h1>Top carros mais vendidos</h1>
                {% for car in carros %}
                <tr>
                    <td>
                        <a href="/detalhes/{{car[1]}}/{{car[7]}}">
                            <img src={{ base_url }}{{ car[10]}} height="350" width="450">
                        </a>
                    </td>

                    <td>
                        <h2>Nome: {{car[1]}}</h2>
                        <h2>Marca: {{car[2]}}</h2>
                        <h2>Ano: {{car[3]}}</h2>
                        <h2>Cor: {{car[4]}}</h2>
                        <h2>Câmbio: {{car[5]}}</h2>
                        <h2>Preço: {{car[6]}}</h2>
                        <h2>Placa: {{car[7]}}</h2>
                    </td>
                    <tr>

                    <td>
                        <h2>Nome: {{car[1]}}</h2>
                        <h2>Marca: {{car[2]}}</h2>
                        <h2>Ano: {{car[3]}}</h2>
                        <h2>Cor: {{car[4]}}</h2>
                        <h2>Câmbio: {{car[5]}}</h2>
                        <h2>Preço: {{car[6]}}</h2>
                        <h2>Placa: {{car[7]}}</h2>
                    </td>
               <td>
                        <a href="/detalhes/{{car[1]}}/{{car[7]}}">
                            <img src={{ base_url }}{{ car[10]}} height="350" width="450">
                        </a>
                    </td>

            {% endfor %}
        </table>
    </div>-->
</body>
<footer>
    <nav>
            <h2>TeiqueOnly</h2>
            <h3>Você conhece, você confia.</h3>
            <small>Copyright © 2019 </small>
    </nav>
</footer>
</html>