<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
    <style>
        #blocklog{
            text-align: center;
            box-sizing: border-box;



        }
    </style>
</head>




<body>
    <div id="blocklog">
        <form id="login" action="/adm_page", method="post">
            <p>
                <label>
                    Login
                </label>
                <input type="text" name="login">
            </p>
            <p>
                <label>
                    Senha
                </label>
                <input type="password" name="senha" >
            </p>
            <input type="submit" logarbt value="Entrar">
        </form>
    </div>
</body>
</html>