<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluindo Anuncio</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1><a href="/">TeiqueOnly</a></h1>
            </td>
                <td>
                    <h1>Pagina do Administrador</h1>
                </td>
            </td>
        </tr>
    </table>
    </div>
</header>
<body>
<div id="admcorpo">
    <h1>Novo Anuncio</h1>
    <form id="inclur_car", action="/anuncio_incluso", method="post" enctype=multipart/form-data>
        <p>
            <label>
                Nome:
            </label>
            <input type="text" placeholder="Modelo do carro" name="nomecar">
        </p>
         <p>
            <label>
                Marca:
            </label>
            <input type="text" placeholder="Marca do carro" name="marcacar">
        </p>
         <p>
            <label>
                Ano:
            </label>
            <input type="text" placeholder="Ano/Ano" name="anocar">
        </p>
         <p>
            <label>
                Cor:
            </label>
            <input type="text" placeholder="Cor do carro" name="corcar">
        </p>
         <p>
            <label>
                Câmbio:
            </label>
            <input type="text" placeholder="Manual/Automatico" name="cambiocar">
        </p>
        <p>

            <label>
                Preço:
            </label>
            <input type="text" name="preçocar" value="R$"><br>
        <p>
            <label>
                Placa:
            </label>
            <input type="text" placeholder="XXX-XXX" name="placacar">
        <p>
        <p>
            <label>
                Adicionar ao Top 10? :
            </label>
            <select name="top_choice">
                <option>Sim</option>
                <option>Não</option>
            </select>

        </p>


        <h1>Upload new File</h1>
          <input type=file name=file>
<!--            <input type=submit value=Upload>-->
            <p>
            <input type="submit" name="add_carbt" value="Adicionar">
        </p>
    </form>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>
<footer>
    <nav>
        <h3><a href="/">Mais vendidos</a></h3>
        <small>Vinicius Santos | Contato: (61)981008608</small><br>
            <small>Copyright © 2019 Vinicius Santos </small>
    </nav>
</footer>
</html>