<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluindo Anuncio</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<div class="headeradm">
    <h1 style="font-family: 'Six Caps', sans-serif;"><a href="/adm_page">Pagina do Administrador</a></h1>
    <p style="color: white">Adicionar um novo anuncio</p>

    </div>
<div id="admcorpo">
    <h1>Novo Anuncio</h1>
    <form id="inclur_car", action="/anuncio_incluso", method="post" enctype=multipart/form-data>
        <p>
            <label>
                Nome:
            </label>
            <input type="text" placeholder="Modelo do carro" name="nomecar">
        </p>
         <p>
            <label>
                Marca:
            </label>
            <input type="text" placeholder="Marca do carro" name="marcacar">
        </p>
         <p>
            <label>
                Ano:
            </label>
            <input type="text" placeholder="Ano/Ano" name="anocar">
        </p>
         <p>
            <label>
                Cor:
            </label>
            <input type="text" placeholder="Cor do carro" name="corcar">
        </p>
         <p>
            <label>
                Câmbio:
            </label>
            <input type="text" placeholder="Manual/Automatico" name="cambiocar">
        </p>
        <p>

            <label>
                Preço:
            </label>
            <input type="text" name="preçocar" value="R$"><br>
        <p>
            <label>
                Placa:
            </label>
            <input type="text" placeholder="XXX-XXX" name="placacar">
        <p>
        <p>
            <label>
                Adicionar ao Top 10? :
            </label>
            <select name="top_choice">
                <option>Sim</option>
                <option>Não</option>
            </select>

        </p>


        <h1>Upload new File</h1>
          <input type=file name=file>
<!--            <input type=submit value=Upload>-->
            <p>
            <input type="submit" name="add_carbt" value="Adicionar">
        </p>
    </form>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</body>


</html>