<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluindo Anuncio</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1>TanqueOnly</h1>
            </td>
                <td>
                    <h1>Pagina do Administrador</h1>
                </td>
            </td>
        </tr>
    </table>
    </div>
</header>
<body>
    <h1>Carros disponiveis</h1>
        <table border="1">
    <tr>
            <td>Nome</td>
            <td>Marca</td>
            <td>Ano </td>
            <td>Cor</td>
            <td>Câmbio</td>
            <td>Preço</td>
            <td>Placa</td>

            </tr>
        {% for car in carros %}
            <tr>
                <td>{{car[1]}}</td>
                <td>{{car[2]}}</td>
                <td>{{car[3]}}</td>
                <td>{{car[4]}}</td>
                <td>{{car[5]}}</td>
                <td>{{car[6]}}</td>
                <td>{{car[7]}}</td>
            </tr>
        {% endfor %}
    </table>
    <h1>Novo Anuncio</h1>
    <form id="inclur_car", action="/anuncio_incluso", method="post" enctype=multipart/form-data>
        <p>
            <label>
                Nome:
            </label>
            <input type="text" name="nomecar">
        </p>
         <p>
            <label>
                Marca:
            </label>
            <input type="text" name="marcacar">
        </p>
         <p>
            <label>
                Ano:
            </label>
            <input type="text" name="anocar">
        </p>
         <p>
            <label>
                Cor:
            </label>
            <input type="text" name="corcar">
        </p>
         <p>
            <label>
                Câmbio:
            </label>
            <input type="text" name="cambiocar">
        </p>
        <p>
            
            <label>
                Preço:
            </label>
            <input type="text" name="preçocar" value="R$"><br>
        <p>
            <label>
                Placa:
            </label>
            <input type="text" name="placacar">
        <p>
        <p>
            <label>
                Adicionar ao Top 10? :
            </label>
            <select name="top_choice">
                <option>Sim</option>
                <option>Não</option>
            </select>

        </p>


        <h1>Upload new File</h1>
          <input type=file name=file>
<!--            <input type=submit value=Upload>-->
            <p>
            <input type="submit" name="add_carbt" value="Adicionar">
        </p>
    </form>




</body>
</html>