<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluir usuario</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<div class="headeradm">
    <h1 style="font-family: 'Six Caps', sans-serif;"><a href="/adm_page">Pagina do Administrador</a></h1>

    </div>
<div id="admpage">
    <h1>Novo usuario</h1>
    <form id="nlogin", action="/incluso", method="post">
        <p>
            <label>
                Login:
            </label>
            <input type="text" name="nlogin">
        </p>
        <p>
            <label>
                Senha:
            </label>
            <input type="password" name="nsenha"><br>

            <input type="submit" name="add_userbt" value="Adicionar">
        </p>

    </form>
</div>
</body>

</html>