<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluir usuario</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1><a href="/">TeiqueOnly</a></h1>
            </td>
                <td>
                   <h1>Pagina do Administrador</h1>
                </td>
            </td>
        </tr>
    </table>
    </div>
</header>
<body>
<div id="admpage">
    <h1>Novo usuario</h1>
    <form id="nlogin", action="/incluso", method="post">
        <p>
            <label>
                Login:
            </label>
            <input type="text" name="nlogin">
        </p>
        <p>
            <label>
                Senha:
            </label>
            <input type="password" name="nsenha"><br>

            <input type="submit" name="add_userbt" value="Adicionar">
        </p>

    </form>
</div>
</body>
<footer>
    <nav>
        <h3><a href="/">Mais vendidos</a></h3>
        <small>Vinicius Santos | Contato: (61)981008608</small><br>
            <small>Copyright © 2019 Vinicius Santos </small>
    </nav>
</footer>
</html>