<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incluido</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<header id="cabecalho">
    <div id="cab">
    <table id="tabcab" >
        <tr>
            <td>
                <h1>TanqueOnly</h1>
            </td>
                <td>
                    <form action="/resultado" METHOD="post">
                    <label>Busca:</label>
                    <input type="text" name="campo_pesquisa">
                    <input type="submit" name="pesquisabt" value="procurar">
                    </form>
                </td>
                <td>

                    <div id="blocklog">
                        <form id="login" action="/adm_page", method="post">
                            <p>
                                <label>
                                    Login
                                </label>

                                <input type="text" name="login">
                            </p>
                            <p>
                                <label>
                                    Senha
                                </label>
                                <input type="password" name="senha" >
                            </p>
                            <input type="submit" logarbt value="Entrar">
                        </form>
                    </div>
                </td>






            </td>
        </tr>
    </table>
    </div>
</header>
<body>
Mudança efetuada!<br><br>
<form action="/">
    <input type="submit" name="go_menu" value="Pagina Principal">
</form>

</body>
</html>
